.profile
	.author
		.img
			%img{:src => '/img/profile.jpg', :class => 'image'}
		.info
			%p Paris Emmanuel Vazquez Venzor
			%p 
				Administrator Graudate, Informatic Technical 
				%br
				Web Development Frontent and Backend
			%p Contact me at pvazquezvenzor@yahoo.com
